# -*- mode: conf-space -*-
# file: .fwknoprc
##############################################################################
[default]

DIGEST_TYPE		sha256
SPA_SERVER_PORT		62201
SPA_SERVER_PROTO	udp
{%- if [[ -n $GPG_SIGNER ]]; then %}
GPG_SIGNER		{= $GPG_SIGNER =}
{%- fi %}
ALLOW_IP		{= $FWKNOP_ALLOW_IP =}

{% for spec in "${SSH_HOSTS[@]}"; do IFS=: ; set $spec %}
{%-   if [[ $3 == fwknop-pw ]]; then %}
[{= $4 =}]
SPA_SERVER		{= $2 =}
ACCESS			tcp/22
SPOOF_USER		{= $FWKNOP_USER =}
KEY_FILE		{= $FWKNOP_PASSWD_FILE =}
{%   fi %}
{%-   if [[ $3 == fwknop-gpg ]]; then %}
[{= $4 =}]
SPA_SERVER              {= $2 =}
USE_GPG                 Y
GPG_RECIPIENT           {= $5 =}
ACCESS                  tcp/22
{%   fi %}
{%- done %}

###EOF###
