# -*- conf -*-
# ssh_config

ForwardAgent {= $SSH_FORWARD_AGENT =}
HashKnownHosts no

{%- for spec in "${SSH_HOSTS[@]}"; do IFS=: ; set $spec %}
Host {= $1 =}
{%- if [[ -n $2 ]]; then %}
Hostname {= $2 =}
{%- fi %}
{%- if [[ $3 == fwknop-pw ]]; then %}
ProxyCommand {= $ZKIT =}/bin/run_pre_fwknop -p  {= $4 =} %h %p
{%- fi %}
{%- if [[ $3 == fwknop-gpg ]]; then %}
ProxyCommand {= $ZKIT =}/bin/run_pre_fwknop {= $4 =} %h %p
{%- fi %}
{% IFS=$' \t\n' %}
{%- done %}
