# -*- conf -*-
# ssh_config

ForwardAgent {= $SSH_FORWARD_AGENT =}
HashKnownHosts no
TCPKeepAlive yes
ServerAliveCountMax 3
ServerAliveInterval 15

{%- if [[ -n "${HOSTS_CONF[@]}" ]]; then
       for spec in "${HOSTS_CONF[@]}"; do
           host= hostname= proxy= stanza= key=
	   eval $spec
	   if [[ -n $host ]]; then %}

Host {= $host =}
{%-            if [[ -n $hostname ]]; then %}
Hostname {= $hostname =}
{%-            fi
               if [[ $proxy == fwknop-pw ]]; then %}
ProxyCommand {= $ZKIT =}/bin/run_pre_fwknop -p  {= $stanza =} %h %p
{%-            fi
               if [[ $proxy == fwknop-gpg ]]; then %}
ProxyCommand {= $ZKIT =}/bin/run_pre_fwknop {= $stanza =} %h %p
{%-            fi
           fi
       done
  fi %}
